data:
  dataset: cityscapes
  split: '0.7'
model:
  arch: nas-unet
report_freq: 30
searching:
  alpha_begin: 10
  arch_optimizer:
    lr: 0.0003
    name: adam
    weight_decay: 0.005
  batch_size: '1'
  depth: 4
  double_down_channel: false
  epoch: '300'
  gpu: true
  grad_clip: 5
  init_channels: 16
  loss:
    aux_weight: null
    name: cross_entropy
    size_average: false
  max_patience: 40
  meta_node_num: 3
  model_optimizer:
    lr: 0.001
    name: adabound
    weight_decay: 0.0005
  multi_gpus: false
  n_workers: 2
  report_freq: 20
  resume: null
  sharing_normal: true
  train_portion: '0.5'
test: null
training:
  backbone: null
  batch_size: '256'
  depth: 5
  double_down_channel: false
  epoch: '100'
  geno_type: NASUNET
  grad_clip: 3
  init_channels: 48
  loss:
    aux_weight: 0.2
    name: cross_entropy
  lr_schedule:
    max_iter: 100
    name: poly_lr
  max_patience: 20
  model_optimizer:
    lr: 0.05
    name: sgd
    weight_decay: 0.0001
  multi_gpus: true
  n_workers: 2
  report_freq: 100
  resume: null
  val_batch_size: '10'
